/* General */
body{
    display: flex;
    flex-direction: column;
    align-content: center;
}
/* control */
#control{
    gap: 0;
    display: grid;
    height:fit-content;
    min-width: 500px;
    max-width: 500px;
    
    grid-template-rows:repeat('1fr' 4);
    grid-template-columns: repeat('1fr' 7);
}
/* title */
#title {
    display: grid;
    grid-row: 1/4;
    grid-column: 1/3;
    text-align: center;
    margin:0;
} 
h1 {
    font-size:large;
    background-color:darkslateblue ;
    border-radius: 50% 0 0 0/ 50% 0 0 0;
    grid-row:1/3;
    height:;
    margin:0;
}
h2 {
    font-size: x-small;
    background-color: royalblue ;
    margin: 0;
    grid-row: 3/4;
}
#letter{
    color:gold;
}
/* status */

#taskStatus{
    border-left: 5px solid orange;
    border-top:2px solid;
    border-right:1px solid;
    grid-row:1/2;
    
}
#doneStatus{
    border-top:1px solid;
    border-left: 5px solid #0f0;
    border-right:1px solid;
    align-self: bottom;
    grid-row:2/3;
    ;
}
/* input */
#textInput{
    /* height: 40px; */
    grid-row: 3/4;
    grid-column: 3/7;
}
#prioritySelector{
    /* height: 40px; */
    grid-row: 4/5;
    grid-column: 3/7;
 }
 /* pin button */
#priorityPin {
    grid-row: 3/5;
    grid-column: 1/3;
    border-radius: 0% 0% 0 50%;
    background: whitesmoke;
    box-shadow: none;
    border-style: none none outset outset;
    color: maroon;
}
#pin {
    border: 2px solid yellow;
    display: flex;
    background-color: hide;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    width: fit-content;
    height: fit-content;
}
#pinhead {
    top: 5%;
    background-color: maroon;
    border-radius: 50%;
    display: block;
    height: 2vh;
    position: relative;
    width: 2vh;
}
#pinprick {
    align-self: center;
    right: 15%;
    border-bottom: 2px solid transparent;
    border-left: 45px solid maroon;
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: block;
    height: 0;
    position: relative;
    width: 0;
}
/* ADD and SORT buttons */
#errorLabel{
    position: relative;
    border-radius: 0 0 50% 50%/0 0 50% 50%;
    background-color: #a32 ;
    color:white;
    font-weight: bolder;
    grid-row:5/6;
    grid-column:3/7;
    text-align: center;
    z-index: 10;
}
#addButton{
    grid-row:3/5;
    grid-column:7/8;
    padding-bottom:10% ;
    font-size: medium;
    text-align: left;
    border-bottom-right-radius:90% ;
}
#sortButton{
    border-top-right-radius:90%;
    text-align: left;
    grid-row:1/3;
    grid-column:7/8;
}
#sortLabel{
    border-top: 2px solid;
    grid-row: 1/3;
    grid-column: 6/7;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
#sortByButton{
    
}
/* priority selector options */
.todoPriority{
     background:black;
    color:white;
    font-weight: bold;
    width: 20px;
    height:20px;
    margin:0;
}

.priority-option{
    color: white;
    font-weight: bold;
    border: 4px outset silver;
}
.priority-option:hover{
    background: aliceblue;
    color: rebeccapurple;
}
#priorityNull{
    background:white;
    color:black;
}
#priority1 {
    background:#009933;
}
#priority2 {
    background:#DCbF16;
}
#priority3 {
    background:orangered;
}
#priority4 { 
    background:crimson;
}
#priority5 {
    background:maroon;
    
}
#view{
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}
/* list items */
.todoContainer {
    width:300px;
    height: 1.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    left: 50px;
    justify-content: space-between;
    
}
.todoPriority {
    font-size: larger;
    height:inherit;
    width: 1.5em;
    border: none;
    margin:0;
    text-align: center;
    vertical-align: baseline;
}
.todoText{
align-self: center;
margin-left: 5px;
text-decoration: wavy;
}
.todoCreatedAt{
    align-self: center;
    margin-left: auto;

}
/* removes frame when button is selected */
button:focus {outline:0;}